$brand-color: #0038B8;
$landing-accent-color: rgb(155, 171, 245);
$landing-accent-2-color: #6FFFFF;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;
$section-gap: 150px;

$primary-font: 'Open Sans Condensed', sans-serif;